[Desktop Entry]
Version=1.1
Type=Application
Name=HDAJackRetask
GenericName=Retask the audio jacks for the HDA sound driver
NoDisplay=true
Icon=applications-other
Exec=hdajackretask
Actions=
Categories=AudioVideo;
