[Desktop Entry]
Version=1.1
Type=Application
Name=HDSPMixer
NoDisplay=true
Comment=Hammerfall DSP matrix mixer control GUI
Icon=hdspmixer
Exec=hdspmixer
Actions=
Categories=AudioVideo;
