[Desktop Entry]
Version=1.1
Type=Application
Name=Obsidian
Comment=Obsidian knowledge base.
Icon=obsidian-icon
Exec=/bin/obsidian
Actions=
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
StartupNotify=true
